@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";
@import "tailwindcss";

@layer base {
  body {
    @apply bg-stone-950;
  }
  h1 {
    @apply text-4xl font-bold mt-4 mb-2;
  }
  h2 {
    @apply text-3xl font-semibold mt-3 mb-2;
  }
  h3 {
    @apply text-2xl font-semibold mt-2 mb-1;
  }
}

ul {
  list-style-type: disc;
  margin-left: 1.5rem; /* optional indent */
}

ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

div::-webkit-scrollbar {
  display: none;
}

@theme {
  --animate-message-in: message-in 150ms ease-out forwards;

  @keyframes message-in {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }
}

